<form class="update-form" method="POST" action="{% url 'update_cart' item.bike.id %}">
    {% csrf_token %}
    <!-- Update Quantity -->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn-outline-black btn-sm" data-item_id="{{ item.bike.id }}"
                    id="decrement-qty_{{ item.bike.id }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                value="{{ item.quantity }}" min="1" max="10" data-item_id="{{ item.bike.id }}"
                id="id_qty_{{ item.bike.id }}" />
            <div class="input-group-append">
                <button class="increment-qty btn-outline-black btn-sm" data-item_id="{{ item.bike.id }}"
                    id="increment-qty_{{ item.bike.id }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<a class="update-link text-info"><small>Update</small></a>
<a class="remove-item text-danger float-right" id="remove_{{ item.bike.id }}"><small>Remove</small></a>